<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <p class="m-0 text-dark text-center ">Работа выполнена в качестве тестового задания на позицию <a class="p-2 text-dark" href="https://rabota.by/vacancy/48529241?from=negotiations_item">Программист Python (Django)</a> в компании</p>
  <p class="m-0 text-dark text-center "><a class="p-2 text-dark"  href="https://planx.one/">ИКСВАН</a></p>
  <p class="m-0 text-dark text-center ">С кодом можно ознакомиться на <a class="p-2 text-dark" href="">GitHub</a> </p>
</footer>